body
{
  background-color:chartreuse;
  font-family: 'Poppins', sans-serif;
}

.head_div
{
   background-color:gold;
   color:black;

}

.copy_right_footer
{
  color:black;
  width: max-content;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  line-height: 4px;
  text-shadow: 5px;
}

h2
{
  font-size: 20px;
}

h3
{
  font-size: 20px;
}


